
.page {
    position: relative;
    height: 1800px;
 
    width: 100%;
    background: rgb(166, 192, 192) ;
    background-repeat: no-repeat;
    overflow-x: hidden;
    text-align: center;
    overflow: hidden;
    color: rgb(3, 3, 3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
 }
 .eight columns{
     margin-bottom: 30px;
 }