

.home_container {
   position: relative;
   height: 1800px;
   overflow-x: hidden;
   width: 100%;
   background: #161415;
   background-repeat: no-repeat;
   text-align: center;
   overflow: hidden;
}
.home_head_wrapper{
    color:wheat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: left;
    
}
img{ 
    max-width: 50%;
    border-radius: 80%;
    height: 50;
    margin-left: auto;
    margin-right: auto;
}
